<!--<div class="login-wrapper">
  <form [formGroup]="form" class="form-container">
    <fieldset>
      <legend class="form-legend">Войти</legend>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Логин</mat-label>
        <input matInput placeholder="Введите логин" value="Sushi" formControlName="login">
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput placeholder="Введите пароль" value="Sushi" formControlName="password">
      </mat-form-field>

    </fieldset>

    <div class="form-error" *ngIf="showError">Неправильный логин или пароль</div>

    <div class="form-buttons">
      <button class="button button-primary"
              (click)="login()">Login</button>
    </div>
  </form>
</div>-->
<div class="login-wrapper">
<mat-card class="card-wrapper">
  <mat-card-title >Добро пожаловать</mat-card-title>
  <mat-card-subtitle>Введите логин и пароль</mat-card-subtitle>
  <mat-card-actions>
    <form [formGroup]="form" class="form-wrapper">
      <fieldset>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Логин</mat-label>
          <input matInput placeholder="Введите логин" value="Sushi" formControlName="login">
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Пароль</mat-label>
          <input matInput placeholder="Введите пароль" value="Sushi" formControlName="password">
        </mat-form-field>

      </fieldset>

      <div class="form-error" *ngIf="showError">Неправильный логин или пароль</div>

      <div class="form-buttons">
        <button mat-raised-button class="button button-primary"
                (click)="login()">Login</button>
      </div>
    </form>
  </mat-card-actions>
</mat-card>
</div>
