.filter-wrapper {
  .filter-string-form{
    width: 100%;
    top: 2px;

    .filter-string-remove-button {
      color: #00BCD4;
      border: none;
      top: -7px;

      .filter-text-remove-icon {
        font-size: 27px;
      }
    }
  }
}
