.todo-list-wrapper,
.todo-list-empty {
  margin: 10px;
  color: #FFFFFF;
}

.todo-list-empty {
  margin: 20px;
  font-size: 16px;
}

.todo-wrapper {
  display: flex;
  flex-flow: row nowrap;
  text-align: right;
  background-color: #444444;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;

  &:hover {
    background-color: #707070;
  }

  .todo-index {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 9px;
    text-align: center;
  }

  .todo-priority {
    padding: 0 5px 0 10px;

    &.priority-full {
      color: white;
    }

    &.priority-half {
      color: white;
    }

    &.priority-empty {
      color: white;
    }
  }

  .todo-select {

  }

  .todo-text-input {

  }

  .todo-text-span {
    width: 100%;
    text-align: left;
    margin-left: 10px;
    cursor: pointer;
    //color: $opposite-main-color;

    &.priority-full {
      font-weight: bold;
    }
    &.priority-half {

    }
    &.priority-empty {
      font-style: italic;
    }

    &.removed {
      text-decoration: line-through;
      opacity: 0.7;
    }


  }

  .todo-icon {
    height: 30px;
    width: 30px;
    padding: 0;
    font-size: 20px;
    cursor: pointer;

    &.todo-icon-edit {
      color: #00BCD4;
    }
    &.todo-icon-remove {
      color: #00BCD4;
      margin-right: 10px;
    }
    &.todo-icon-restore {
      color: #00BCD4;
      margin-right: 10px;
    }
    &.todo-icon-done {
      margin-right: 5px;
      color: #00BCD4;
    }
  }
}
