.todo-add-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 5px;

  .todo-priority {
    padding: 0 5px;
    font-size: 20px;

    &.priority-active {
      &.priority-full {
        color: darkred;
      }

      &.priority-half {
        color: darkblue;
      }

      &.priority-empty {
        color: darkgreen;
      }
    }
  }

  .todo-icon-add {
    font-size: 32px;
    margin: 0 10px;
    line-height: 30px;
    color: darkolivegreen;
  }

  .todo-icon-show {
    font-size: 32px;
    margin: 0 10px;
    line-height: 30px;
    color: royalblue;
  }
}

.note-wrapper {
  width: 500px;
  height: 100px;
  margin: 10px;
  textarea {
    resize: none;
    width: 100%;
    height: 90px;
  }
}

.tags-wrapper {
  margin-top: 10px;
}
