@import "../../../shared/variables";

.tags-wrapper {

  .tags-container {

    .tags-select {
      height: $input-height;
    }
  }

  .filter-string {
    margin-left: 10px;
    width: 286px;
  }

  .filter-button {
    top: -8px;
    margin-left: 10px;
  }
}
