<!--
<select class="sort-select" (change)="onSelectChange($event.target)">
  <option *ngFor="let sort of selectSort"
          value="{{sort.value}}"
          [selected]="sort.value === defaultSort">
    {{sort.name}}
  </option>
</select>
-->

<mat-form-field appearance="fill" class="sort-container">
  <mat-label>Выберите сортировку</mat-label>
  <mat-select [formControl]="sortCtrl" [(value)]="defaultSort" class="sort-select">
    <mat-option *ngFor="let sort of sortTypes" [value]="sort.value">{{sort.label}}</mat-option>
  </mat-select>
</mat-form-field>
