.sort-filter-wrapper {
  display: flex;
  flex-flow: column nowrap;

  .expansion-panel-description {
    display: flex;
    flex-flow: column nowrap;

    .expansion-panel-description-name {
      font-weight: bold;
    }
    .expansion-panel-description-value {
      padding-left: 3px;
    }
    .expansion-panel-description-divider {
      font-weight: bold;
      padding: 0 5px;
    }

    .expansion-panel-description-priority {
      &.priority-half,
      &.priority-empty,
      &.priority-removed {
        padding-left: 3px;
      }
    }
  }

  .sort-filter-wrapper-first-string{
    display: flex;
    flex-flow: row nowrap;

    .sort-wrapper {
      margin: 10px 0 0 10px;
    }

    .filter-wrapper {
      margin: 10px 0 0 10px;
    }
  }

  .sort-filter-wrapper-second-string {
    display: flex;
    flex-flow: row nowrap;

    .tags-wrapper {
      margin: 0 0 0 10px;
    }

    .priority-wrapper {
      margin: 0 0 0 10px;
    }
  }
}
