.filter-wrapper {
  .filter-string-form{
    width: 358px;
    top: 2px;

    .filter-string-remove-button {
      border: none;
      top: -7px;

      .filter-text-remove-icon {
        font-size: 27px;
      }
    }
  }
}
