.tags-wrapper {
  width: 500px;

  border: 1px solid black;
  box-shadow: none;
  margin: 10px;

  .tag-add-container {
    .tag-add-input {

    }

    .tag-add-button {
       color: royalblue;
       font-size: 24px;
     }
  }
}
