<div class="tags-wrapper mat-elevation-z8">

  <mat-form-field appearance="fill" class="tags-container">
    <mat-label>Выберите теги</mat-label>
    <mat-select [formControl]="tagsCtrl" multiple [(value)]="_todoTags">
      <mat-option *ngFor="let tag of tags" [value]="tag.id">{{tag.value}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="tag-add-container" *ngIf="showInput">
    <input type="text" class="tag-add-input" [(ngModel)]="inputText">
    <fa-icon
      class="tag-add-button"
      (click)="addTag()"
      [icon]="faCheckSquare">
    </fa-icon>
  </div>

</div>
