<div class="todo-container">

  <app-header [todoList]="todoList" (emitTodoList)="setTodoList($event)"></app-header>

  <button mat-flat-button color="accent" class="todo-add-button" (click)="openDialog(null)">Новая задача</button>

  <mat-tab-group>
    <mat-tab [label]="originalLabel">
      <app-list [todoList]="dividedTodoList.original" (emitToDo)="editToDo($event)" (emitToDoEdit)="openDialog($event)"></app-list>
    </mat-tab>
    <mat-tab [label]="doneLabel">
      <app-list [todoList]="dividedTodoList.done" (emitToDo)="editToDo($event)" (emitToDoEdit)="openDialog($event)"></app-list>
    </mat-tab>
    <mat-tab [label]="removedLabel">
      <app-list [todoList]="dividedTodoList.removed" (emitToDo)="editToDo($event)" (emitToDoEdit)="openDialog($event)"></app-list>
    </mat-tab>
  </mat-tab-group>

</div>
